.login-page {
  padding: 10% 0;

  .login-log {
    width: 100%;
    text-align: center;
    margin: 20% 0;

    .log-img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }

    .log-text {
      display: block;
      color: #999999;
    }

    .log-info {
      color: #999999;
      font-size: 30px;
    }
  }

}
