.book-city {
  flex-direction: column;
  width: 100%;

  .head {
    width: 700px;
    height: 80px;
    background: #F8F8F8;
    margin: 30px auto;
    margin-bottom: 20px;
    border-radius: 10px;
    line-height: 80px;

    .head-search {
      padding: 0 20px;
      position: relative;
      top: 6px;
    }

    .head-text {
      display: inline-block;
      color: #999999;
    }
  }

  .city-body {
    width: 100%;

    .tabs {
      width: 100%;
      height: 80px;
      box-shadow: 0 4px 4px #e6e6e6;
      position: relative;

      .tabs-text {
        font-size: 36px;
        margin-left: 25px;
      }

      .man-line {
        width: 30px;
        height: 1px;
        border-bottom: 1px solid #ff0000;
        position: absolute;
        bottom: 1px;
        left: 45px;
      }

      .women-line {
        width: 30px;
        height: 1px;
        border-bottom: 1px solid #ff0000;
        position: absolute;
        bottom: 1px;
        left: 140px;
      }
    }

    .cover {
      width: 150px;
      height: 200px;
      box-shadow: 0 0 2px #cccccc;
    }

    .title-text {
      color: #666666;
      font-size: 24px;
    }

    .author-text {
      color: #999999;
      font-size: 24px;
    }

    .body-title {
      font-size: 40px;
      font-weight: 600;
      color: #666666;
      margin-bottom: 20px;
      display: inline-block;
    }

    .hot-books {
      width: 700px;
      margin: 40px auto;
      border-bottom: 1px solid #dbdbdb;
      padding-bottom: 50px;

      .hot-top {
        height: 240px;
        background: #707070;
        border-radius: 12px;
        padding: 10px 0;
        position: relative;

        .hot-item {
          width: 400px;
          height: 80px;
          line-height: 80px;
          position: relative;

          .triangle {
            display: inline-block;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-left-color: white;
            position: absolute;
            top: 32px;
            left: 10px;
          }

          .hover {
            display: none;
          }

          .hot-title {
            display: inline-block;
            width: 220px;
            color: #ffffff;
            font-size: 32px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;
            left: 30px;
          }

          .hot-author {
            display: inline-block;
            width: 140px;
            color: #bfbfbf;
            font-size: 28px;
            margin-left: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .hot-cover {
          width: 170px;
          height: 200px;
          position: absolute;
          right: 30px;
          top: 30px;

          .book-cover {
            width: 150px;
            height: 200px;
            position: absolute;
          }

          .top {
            z-index: 9;
          }

          .mid {
            z-index: 2;
            height: 180px;
            left: 10px;
            top: 10px;
          }

          .bottom {
            z-index: 1;
            height: 160px;
            left: 20px;
            top: 20px;
          }
        }
      }

      .hot-list {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .hot-list-container {
          width: 150px;
        }
      }
    }

    .today-welfare {
      width: 700px;
      margin: 0 auto;
      margin-top: 50px;
      border-bottom: 1px solid #dbdbdb;

      .count-down {
        display: inline-block;

        .time {
          color: white;
          font-weight: 600;
          font-size: 24px;
          background: linear-gradient(to right, #dd412d, #ec5f5c);
          display: inline-block;
          height: 42px;
          line-height: 42px;
          padding: 0 20px;
          margin-left: 20px;
        }
      }

      .today-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 40px;

        .today-item {
          width: 150px;
        }
      }
    }

    .classic-version {
      width: 700px;
      margin: 0 auto;
      margin-top: 50px;
      border-bottom: 1px solid #dbdbdb;
      height: 300px;
    }

    .new-books {
      width: 700px;
      margin: 0 auto;
      margin-top: 50px;
      height: 300px;
    }
  }
}
